/* ADMIN DASHBOARD */
body {
    font-size: .875rem;
  }
  /* body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100vh;
    } */

    .form-signin {
      width: 100%;
      padding: 15px;
      margin: auto;
      height:80vh;  
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    } 
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  .btn-cstm{
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    }
    .btn-cstm-blue{
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    background-color: #4379d1;
    color:white;
    }
    .btn-cstm:hover{
    background-color: #cccaca;
    }
    .btn-cstm-blue:hover{
    background-color: #3e6ab5;
    }
    
    .btn-cstm-green{
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    color:white;
    background-color: #2e9972;
    }
    .btn-cstm-green:hover{
    color:white;
    background-color: #268260;
    }
    
    .btn-cstm-red{
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    color:white;
    background-color: #be312c;
    }
    .btn-cstm-red:hover{
    color:white;
    background-color: #a83432;
    }
    .btn-cstm-yellow{
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    background-color: #e9d631;
    }
    .btn-cstm-yellow:hover{
    background-color: #f2cf41;
    }
    
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
