@import
url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

body{
font-family: 'Inter', sans-serif;
}
/* font-family: 'Poppins', sans-serif; */

.nav .nav-item.active_{
background-color: #040D12;
border-radius:20px;
padding-left: 15px;
padding-right: 15px;
}

.nav .nav-item:hover{
background-color: #040D12;
padding-left: 15px;
padding-right: 15px;
border-radius:20px;
transition: all 0.3s ease;
}

.nav .nav-item:hover a{
color: white!important;
}

.nav .nav-item a{
color: black!important;
}

.nav .nav-item.active_ a{
color: white!important;
}

.hero__content{
min-height:400px;
}

.content{
padding-top:50px;
}

.header__menu_item{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
font-size: 26px;
width: 50px;
height: 50px;
}

.header__menu_item.active_header{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
font-size: 26px;
background-color: blanchedalmond;
border-radius: 50%;
width: 50px;
height: 50px;
}

.header__menu_item:hover {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
font-size: 26px;
background-color: blanchedalmond;
border-radius: 50%;
width: 50px;
height: 50px;
}

.header__menu_item a{
text-decoration:none;
color:#040D12;
}

.carousel-item img {
width: 100%;
height: 100%;
object-fit: cover;
}
.content__product{
margin-bottom:30px;
/* margin-top:30px; */
}

.content__product .read_more{
font-weight: bold;
display:flex;
justify-content: center;
align-items: center;
}
.content__product .read_more a{
text-decoration:none;
color :black;
}

.img__product{
width: 200px;
height:200px;
object-fit: cover;
}

.card__product .judul_product p{
font-weight:bold;
font-size:14px;
}

.img_content_product{
overflow-x: hidden;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.menu__footer a{
/* text-decoration:none; */
font-size:12px;
color:white;
}

/* .keranjang__navbar{
position:sticky;
z-index:98;
top:0px;
} */


.pagination a{
text-decoration:none;
}
.pagination .page_number{
display:flex;
justify-content:center;
align-items:center;
/* vertical-align: middle; */
width: 30px;
height: 30px;
/* text-align: center; */
margin-right: 10px;
color:black;
}
.pagination .page_number.active_num{
background-color: black;
color: white;
}

.keterangan__produk{
font-size:10px;
}

.social_media_icon a img{
opacity:25%;
}
.social_media_icon a:hover img{
opacity:100%;
}

.login-menu{

}

.mobile-bar{
position: absolute;
z-index: 99;
right: 10px;
top: 10px;
}

.mobile-navbar{
position: fixed;
z-index: 99;
height:100vh;
width:80%;
right:0;
transform:translateX(400px);
transition: all 0.4s ease;
}

.close__mobile_nav img{
right: 20px;
top: 20px;
position: absolute;
width: 20px;
height: 20px;
}

.-z-1 {
z-index: -1;
}

.origin-0 {
transform-origin: 0%;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value='']):valid ~ label {
/* @apply transform; scale-75; -translate-y-6; */
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
--tw-scale-x: 0.75;
--tw-scale-y: 0.75;
--tw-translate-y: -1.5rem;
}

input:focus ~ label,
select:focus ~ label {
/* @apply text-black; left-0; */
--tw-text-opacity: 1;
color: rgba(0, 0, 0, var(--tw-text-opacity));
left: 0px;
}


/* INPUT FORM */
.form-input{
display:flex;
flex-direction:column;
position:relative;
margin-top:20px;
}

.form-input input{
width:100%;
padding:8px 0;
border:none;
background-color:transparent;
border-bottom:2px solid #181824;
font-size:12px;
font-weight:500;
transition: 200ms ease;
}

.form-input input:focus{
outline:none;
border-color: #6236ff;
box-shadows:0 1px 0 0 #6236ff;
}

.form-input label{
position: absolute;
height: 100%;
display:flex;
font-size:12px;
align-items: center;
transition:300ms ease;
}

.form-input input:focus + label,
input:not(:placeholder-shown) + label{
transform: translateY(-20px);
}
.keranjang__navbar {
/* position: fixed; */
top: 0;
right: 0;
width: 100%;
background-color: #fff;
padding: 10px;
z-index: 97;
font-size:13px;
padding-top:40px;
}
.title__produk__cart{
padding-top:20px;
}

.button__checkout{
text-align:center;
}

@media (min-width:1024px){
/* .container__keranjang .keranjang__navbar {
width: 75%!important;
} */
.title__produk__cart{
padding-top:0px;
}
}

@media (min-width:1440px){
.content .login-img{
height:800px!important;
}
.title__produk__cart{
padding-top:0px;
}

#wave_register{
top:635px!important
}

.container__keranjang .keranjang__navbar {
/* width: 75%!important; */
font-size:15px;
}
}

@media (max-width:768){
.content .login-img{
display:none!important;
}
}

.btn-cstm{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
}
.btn-cstm-blue{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
background-color: #4379d1;
color:white;
}
.btn-cstm:hover{
background-color: #cccaca;
}
.btn-cstm-blue:hover{
background-color: #3e6ab5;
}

.btn-cstm-green{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
color:white;
background-color: #2e9972;
}
.btn-cstm-green:hover{
color:white;
background-color: #268260;
}

.btn-cstm-red{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
color:white;
background-color: #be312c;
}
.btn-cstm-red:hover{
color:white;
background-color: #a83432;
}
.btn-cstm-yellow{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
background-color: #e9d631;
}
.btn-cstm-yellow:hover{
background-color: #f2cf41;
}

/* Gaya scrollbar utama */
/* Untuk Chrome dan Safari */
::-webkit-scrollbar {
width: 6px; /* Lebar scrollbar */
}

/* Gaya thumb (bagian yang dapat digerakkan) scrollbar */
/* Untuk Chrome dan Safari */
::-webkit-scrollbar-thumb {
background-color: #888; /* Warna latar belakang thumb */
border-radius: 6px; /* Bentuk thumb (dirobohkan) */
}

/* Gaya track (bagian yang tidak dapat digerakkan) scrollbar */
/* Untuk Chrome dan Safari */
::-webkit-scrollbar-track {
background-color: #f1f1f1; /* Warna latar belakang track */
}

/* Gaya scrollbar utama */
/* Untuk Firefox */
/* Biasanya perlu prefix -moz- */
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1; /* Warna thumb dan track */

.btn-cstm{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
}
.btn-cstm-blue{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
background-color: #4379d1;
}
.btn-cstm-red{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
background-color: #be312c;
}
.btn-cstm-yellow{
padding: 6px;
padding-right: 20px;
padding-left: 20px;
border: none;
border-radius: 7px;
font-size: 14px;
font-weight: 700;
background-color: #e9d631;
}

.dropdown-cstm{
cursor:pointer;
}
.card-dropdown {
width: 200px;
position: absolute;
top: 90px;
right: 20px;
background-color: #f8f9fa;
border-radius: 10px;
}

.card-dropdown .link-dropdown {
cursor: pointer;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
}

.card-dropdown .link-dropdown:hover {
background-color: #ececec;
border-radius: 20px;
}

.card-dropdown a {
text-decoration: none;
color: black;
}

.title-produk{
font-size: 30px;
font-weight: bold;
}

.deskripsi-produk{
font-size:12px;
}

.img__detail__product{
width:100%;
}

.jumlah__barang_cart{
position: absolute;
background-color: #4379d1;
width: 20px;
height: 20px;
border-radius: 50%;
color: white;
font-size: 12px;
vertical-align: middle;
display: flex;
justify-content: center;
align-items: center;
top: 20px;
right:230px;
}

.alamat-pengirim{
    background-color: #d4f4ff;margin-top:10px;border-radius:10px;border:2px solid #4ca6c5;font-size:12px;
}

.estimasi-hari{
    margin: 10px;padding: 10px;background-color: #6cffbb;border-radius: 10px;border: 2px solid #4ca6c5;
}
